<div class="card" >
   
        <div class="card-header">
           
           <h4 style="text-align: center;"> Admin Login</h4>
        </div>
       
        <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <div class="login">
        <h6 style="text-align: center; color: red; padding-bottom: 20px;">{{error}}</h6>
    <label for="email" class="form-label">email</label>
    <input type="text" class="form-control" name="email" style="margin-bottom: 30px;" ngModel require>
    <label for="password" class="form-label">password</label>
    <input type="password" name="password" class="form-control" style="margin-bottom: 30px;" ngModel require>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-danger" style="margin-left: 30px;">Register</button>
</div>
</form>
</div>
