<h3 style="text-align: center; color: rgb(10, 218, 254); margin-top: 30px;"><em>Admin Page</em></h3>
<div class="row">
    <div class="col-md-7">
    <div class="card" style="width: 680px; background-color: rgb(177, 207, 209); margin-left: 50px;margin-top: 50px; margin-bottom: 50px;">
        <div class="card-header"><h5 style="text-align: center;  ;">Enroll Student</h5></div>
        <div class="card-body" style="background-color: rgb(235, 254, 255);">
    <form (ngSubmit)="onAdd(myform)" #myform="ngForm">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
    <label>Register Number</label>
    <input type="text" class="form-control" name="register" [(ngModel)]="register"  style="width: 300px;" ngModel required>
<span style="color: red;">{{min}}</span>    
</div>
    <div class="col">
    <label>Name</label>
    <input type="text" class="form-control" name="studentName" style="width:300px;" ngModel required>
</div>
</div>
    <button class="btn btn-success" type="submit" style="width:300px; margin-left: 150px;" [disabled]="!myform.valid" >Add Student</button>   
</form>
</div>
</div>

    <div class="card" style="width: 680px; background-color: rgb(247, 233, 233); margin-left: 50px;">
        <div class="card-header" style="text-align: center;">
            <h5> Send Notifications</h5>
        </div>
        <div class="card-body" style="background-color: rgb(242, 235, 235);">
            <span style="color: blue; margin-left: 250px;">{{notifText}}</span>
            <textarea class="form-control" style="width: 500px; margin-bottom: 10px; margin-left: 70px;" [(ngModel)]="notifications"></textarea>
           
       <button type="submit" class="btn btn-danger" style="width: 200px;margin-left: 220px;" (click)="onSend()">send</button>
        </div>
    </div>

</div>
<div class="col-4" style="display: inline-block;">
    <div class="card" style="margin-top: 50px; margin-left: 50px; height: 465px; background-color: cornsilk;">
        <div class="card-header"><h5 style="text-align: center;">Leave permissions</h5></div>
        <div class="card-body" style="background-color: rgb(245, 245, 239);">
            Students
        </div>
    </div>

</div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-7">
    <div class="card" style="width: 680px; margin-left: 50px; background-color: rgb(9, 9, 110);">
        <div class="card-header"><h5 style="text-align: center; color: aliceblue;">exam passes</h5></div>
         <div class="card-body" style="background-color: rgb(91, 91, 154);">
            <form (ngSubmit)="passSubmit(myForm)" #myForm="ngForm">
            <input type="text" class="form-control" name="exampass" placeholder="enter the pass" ngModel required><br/>
            <input type="file" class="form-control" name="exampassFile" >
            <button type="submit" style="width: 100px; margin-left: 180px; margin-top: 20px;" class="btn btn-outline-light">Add</button>
        </form> 
        </div>
    </div>

        <div class="card" style="width:680px; margin-left: 50px; margin-top:50px;background-color: aquamarine ;">
            <div class="card-header">
                <h5>faculity details</h5>
            </div>
            <div class="card-body" style="background-color: rgb(210, 237, 228);">
                <input type="text" class="form-control" [(ngModel)]="changeFac">
                <button class="btn btn-primary" (click)="onChange()">Add</button>
            </div>
        </div>
    </div>
    <div class="col-4" style="display: inline-block;">
        <div class="card" style="width:400px; margin-left: 50px;">
            <div class="card-header">
                <h5>Register Admin</h5>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onAdmin(NForm)" #NForm="ngForm">
                    <label >Name</label>
                    <input type="text" class="form-control" name="name" style="margin-bottom: 20px;" ngModel require>
                    <label  >Email</label>
                    <input type="email" class="form-control" name="email" style="margin-bottom: 20px;" ngModel require> 
                    <label >Phone Number</label>
                   <input type="text" class="form-control" name="phone" style="margin-bottom: 20px;" ngModel require>
                    <label >Password</label>
                    <input type="password" name="password" class="form-control" style="margin-bottom: 20px;" ngModel require>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>